<footer class="footer">
    <div class="row">
      <div class="columns large-12 footer-inner">
        <div class="row">
          <div class="columns large-3 box">
            <div class="">
              <h2 class="footer-title">Resources</h2>
              <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">gallery</a></li>
                <li><a href="#">faqs</a></li>
                <li><a href="#">contact us</a></li>
                <li><a href="#">testimonials</a></li>
                <li><a href="#">blog</a></li>
              </ul>
            </div>
          </div>
          <div class="columns large-3 box">
            <div>
              <h2 class="footer-title">links </h2>
              <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">gallery</a></li>
                <li><a href="#">faqs</a></li>
                <li><a href="#">contact us</a></li>
                <li><a href="#">testimonials</a></li>
                <li><a href="#">blog</a></li>
              </ul>
            </div>
          </div>
          <div class="columns large-3 box">
            <div>
              <h2 class="footer-title">follow us</h2>
              <ul>
                <li><a href="#" class="media tweeter"></a>Follow us on twitter</li>
                <li><a href="#" class="media youtube"></a>Follow us on youtube</li>
                <li><a href="#" class="media facebook"></a>Follow us on facebook</li>
                <li><a href="#" class="media gmail"></a>Follow us on google plus</li>
              </ul>
            </div>
          </div>
          <div class="columns large-3 box">
            <div>
              <h2 class="footer-title">Contact us</h2>
              <p>255, Willson Street,Caulfield, 122211, Edapally</p>
              <p><b>Tel:</b> (122)0000000, (122)0000000, (122)0000000</p>
              <p><b>Fax:</b> (122)0000000, (122)0000000</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>
<div class="credit-row">
    <div class="row">
      <div class="columns large-11 credit">&copy; 2045 All rights reserved by <a href="#">DreamzBank.</a> Design by: <a href="#">Ajith Kumar KR</a></div>
      <div class="columns large-1"><img src="images/toparrow.png" alt="" class="scrollToTop"></div>
    </div>
</div>