{% extends 'index.html' %}
{% load static %}

{% block content %}
<form method="POST" action="login" style="width: 600px; height: 400px; margin: 40px auto; padding: 30px; border: 2px solid black;">
    {% csrf_token %}
    <h1 style="text-align: center; margin-bottom: 20px;">Login</h1>
    <div class="form-group row" style="margin-bottom: 20px;">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" name="email" id="staticEmail" value="email@example.com">
      </div>
    </div>
    <div class="form-group row" style="margin-bottom: 20px;">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <button class="btn btn-outline-primary" type="submit">Login</button>&nbsp;&nbsp;
        <button class="btn btn-outline-danger">Cancel</button>
    </div><hr style="height:2.5px;border-width:0;background-color:rgb(0, 0, 0)">
    <div style="text-align: center; margin: auto;">
        <button class="btn btn-link" ><a href="{% url 'bankapp:register' %}">New Registration</a></button>
    </div>
  </form>
  {% for msg in messages %}
  <h2>{{ msg }}</h2>
  {% endfor %}
  
{% endblock %}